@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    min-width: 0; /* min-width domyslnie dla grid i flexbox jest ustawiony na auto! */
    min-height: 0; /* min-heigth domyslnie dla grid i flexbox jest ustawiony na auto! */
    /* zmiana min-width i min-height => na 0 dla flexbox i grid jest konieczna, 
        zeby layout pozostal spojny, przy auto sie sypie! */
}
/*TO MUSI ZOSTAC W TAKIEJ KOLEJNOSCI!*/
/* https://github.com/SortableJS/Sortable/issues/1795 */
.chosen-builder {
    /* background-color: blue; */
    opacity: 1;
}
.ghost-builder {
    /* background-color: red; */
    opacity: 1;
}
.drag-builder {
    /* background-color: yellow; */
    opacity: 1;
}
/*DOTAD*/

/* flex shortcuts */
.f {
    display: flex;
}
.b {
    display: block;
}

.fw {
    flex-wrap: wrap;
}

.fnw {
    flex-wrap: nowrap;
}

.fr {
    flex-direction: row;
}

.cc {
    align-content: center;
}

.cs {
    align-content: flex-start; /* Corrected value */
}

.cst {
    align-content: stretch;
}

.ist {
    align-items: stretch;
}

.is {
    align-items: flex-start; /* Corrected value */
}

.ic {
    align-items: center;
}

.ss {
    align-self: flex-start;
}

.sc {
    align-self: center;
}

.sst {
    align-self: stretch;
}

.js {
    justify-content: flex-start; /* Corrected value */
}

.jb {
    justify-content: space-between;
}

.jc {
    justify-content: center;
}

.jst {
    justify-content: stretch;
}

.cup {
    cursor: pointer;
}
.oxh {
    overflow-x: hidden;
}
.oxa {
    overflow-x: auto;
}
.oxs {
    overflow-x: scroll;
}
.leaflet-div-icon {
    border: 0px solid rgba(202, 17, 162, 0.8) !important;
    border-radius: 100%;
    background: rgba(255, 0, 0, 0) !important;
}

* {
    --sb-track-color: rgba(17, 24, 39, 0);
    --sb-thumb-color: rgb(229, 231, 235);
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

*::-webkit-scrollbar {
    width: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
}

.custom-scroll-x * {
    --sb-track-color: rgba(17, 24, 39, 0);
    --sb-thumb-color: rgb(229, 231, 235);
    --sb-size: 5px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.custom-scroll-x *::-webkit-scrollbar {
    height: var(--sb-size);
}

.custom-scroll-x *::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

.custom-scroll-x *::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
}

/** tiptap editor and display container */
[data-tiptap] p:empty::before {
    content: "";
    display: inline-block;
}
[data-tiptap] h1 {
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
}
[data-tiptap] h2 {
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
}
[data-tiptap] h3 {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
}
[data-tiptap] h4 {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
}
[data-tiptap] h5 {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}
[data-tiptap] h6 {
    font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;
}
[data-tiptap] ol {
    margin-left: 2rem;
    list-style-type: disc;
}
